.products-page {
  padding: 20px;
  color: white;
}

.form-box, .table-box {
  background: #15162b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.form-box input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  border: none;
}

.form-box button {
  padding: 10px 14px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background: #2a2d55;
}

tr:nth-child(even) {
  background: #1c1e3a;
}

.delete {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

th {
  cursor: pointer;
}

th:hover {
  text-decoration: underline;
}
